body{
    background-color: black;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
header img{
    width: 12%;
    border-radius: 100%;
}
div h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
section{
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

  .card {
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 100%;
    max-width: 300px;
    text-align: center;
    padding: 20px;
  }

  .card img {
    max-width: 100%;
    width: 400px;
	height: 400px;
	/* object-fit: cover; */
}


  .card-title {
    font-size: 20px;
    margin: 10px 0;
  }

  .card-price {
    font-size: 18px;
    color: #FF3131;
  }

  .neon-text {
    font-size: 24px;
    text-shadow: 0 0 10px #FF3131, 0 0 20px #FF5757, 0 0 30px #FF5757;
  }
  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer h4{
    color: #fff;
    font-size: 22px;
}
buttom--ig{
    width: 50px;
}
  @media (max-width:1370px){
    section{
        display: flex;
        flex-direction: column;
    }
  }